*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: rgb(95, 142, 243);
}

input,
label {
    display: block;
}

label {
    color: green;
}

input {
    width: 100%;
}

.submit{                                         /*class defined in html for button we use .className in css*/
    margin: 15px auto 0px auto;
    width: 40%;                 
    background-color: rgb(113, 163, 255);     /*for background color*/
    border-radius: 5px;                        /*for adding curves to side of button*/
}

form{
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
}